
/*
html body{
    background: linear-gradient(580deg , #a0aef5 ,  #FBEAEB);
}



.V3FYCf,.yg51vc,.xpdopen,.viOShc,.Q3DXx,.yIbDgf,.sfbg,.FalWJb,.f6F9Be, .appbar,.uU7dJb,.WE0UJf,.dG2XIf,.Ww4FFb,.EsIlz,.I6TXqe{
    background: transparent !important;
}



.M8OgIe .PKBwyd .Ss2Faf{
    color: black;
}

.MXl0lf,.k8XOCe{
    background: linear-gradient(to right , #F96167, #FCE77D) !important;
    border: none !important;
}


.yDYNvb.lyLwlc,.b0KoTc,.dfB0uf ,.KwU3F,.xSQxL{
    color: black !important;
}


.yXK7lf em {
    color: #840049 !important;
}
.dyjrff {
    color: #001644 !important;
}
#fsl a{
    color:  black !important;
}

.WZ8Tjf {
    color: #023852 !important;
}
.KFFQ0c .YfftMc, .KFFQ0c .YfftMc span, .KFFQ0c .YfftMc div, .KFFQ0c .YfftMc a {
    color:  black !important;
}
*/